body{
    background-color:rgb(37, 41, 41);
}


.bg-img {
    /* The image used */
    background-image: url("img_nature.jpg");
  
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }
  
  .bg-img {
    /* The image used */
    background-image: url("image4.jpeg");


    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  }
  
 /* The navbar */
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 20px;
    mask-position:left;

  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }





@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
}

.sticky {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
  }

  



  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.coverText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,+90%);
    color: white;
    font-weight: bold;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 10px;
}

.card {
    background-color:#444;
    margin: 55px;
    
}


.card {
    background-color: #444;
    margin: 50px;
}

.card h1 {
    font-size: 1.5rem;
}
.card p {
    font-size: 1rem;
}

.card > .text {
    padding: 0 20px 20px;
}


button {
    cursor: pointer;
    background: gray;
    border: 0;
    font-size: 1rem;
    color: white;
    padding: 10px;
    width: 100%;
}
button:hover {
    background-color: #e0d27b;
}



footer {
    text-align: center;
    padding: 3px;
    background-color:cornflowerblue;
}
footer p {
    font-size: 1rem;
}